header{
    background-color: #555;
    .navbar-logo{
        width: 50px;
        border-radius: 50%;
    }
    .nav-link{
        &.active{
            background-color: rgb(0, 0, 0) !important;
        }
        &:hover{
            background-color: rgb(0, 0, 0) !important;
        }

    }


}